* {
  box-sizing: border-box;
}
 
.app-body {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.moves-section {
  height: 100vh;
  width: 140%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}
.moves-head {
  font-family: 'roboto';
  font-size: 25px;
  font: bold;
  margin-right: 630px;
  text-align: left;
  margin-left: 0px;
}
